# The directories
.gradle/
.idea/
/allure-results
build
temp/

*.log

# The files
gradlew
gradlew.bat
_readme.md
src/test/resources/config/users/existuser.properties
src/test/resources/config/local.properties
src/test/resources/config/app/app.properties
notifications/allure-notifications-3.1.2.jar
notifications/telegram.json
notifications/slack.json
notifications/email.json

#! Exclusion from .gitignore.

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


